<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <div id="messages">
      <div
        id="sse-anchor"
        hx-ext="sse"
        sse-connect="/events"
        hx-target="#messages"
        sse-swap="message"
        hx-swap="afterbegin"
      >
        Waiting…
      </div>
    </div>
  </body>
</html>
